html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    table-layout: auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    text-decoration: underline;
}

th,
td {
    white-space: nowrap;
}

.research-tags span {
    display: inline-block; /* Instead of relying on the parent's flex display */
    margin-right: 5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding: 3px 5px;
    background-color: #bbd4ff;
    border-radius: 3px;
    font-size: 0.9em;
}

.research-tags { 
    gap: 2px;
    align-items: flex-start; 
}

.remove-button {
    cursor: pointer;
    color: red;
    font-size: 1.2em;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.remove-button:hover {
    color: darkred;
}

input[type="text"] {
    width: 100px;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 1em;
}

select {
    max-width: 100px;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 1em;
}

.drop-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99.5%;
    border: 2px dashed #ccc;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s;
}

.drop-zone.dragover {
    background-color: #f0f0f0;
}

.file-label {
    font-size: 1.5em;
    color: #333;
    cursor: pointer;
}

#fileInput {
    display: none;
}